In [2]:
import findspark
from pyspark.sql import SparkSession

findspark.init()

sc = SparkSession.builder.appName("PysparkExample")\
.config ("spark.sql.shuffle.partitions", "50")\
.config("spark.driver.maxResultSize","5g")\
.config ("spark.sql.execution.arrow.enabled", "true")\
.getOrCreate()

## 1

In [3]:
sc.sql(
"create table mst_user_location(\
user_id varchar(255)\
,pref_name varchar(255)\
,city_name varchar(255))")

sc.sql(
"insert into mst_user_location values \
 ('U001', '서울특별시', '강서구')\
  , ('U002', '경기도수원시', '장안구'  )\
  , ('U003', '제주특별자치도', '서귀포시')")
    
sc.sql("select * from mst_user_location").show()

+-------+--------------+---------+
|user_id|     pref_name|city_name|
+-------+--------------+---------+
|   U003|제주특별자치도| 서귀포시|
|   U002|  경기도수원시|   장안구|
|   U001|    서울특별시|   강서구|
+-------+--------------+---------+

In [4]:
sc.sql(
"select \
user_id\
,concat(pref_name,city_name) as pref_city \
from mst_user_location").show()

+-------+----------------------+
|user_id|             pref_city|
+-------+----------------------+
|   U003|제주특별자치도서귀포시|
|   U002|    경기도수원시장안구|
|   U001|      서울특별시강서구|
+-------+----------------------+

## 2

In [11]:
sc.sql(
"CREATE TABLE quarterly_sales (\
    year integer\
  , q1   integer\
  , q2   integer\
  , q3   integer\
  , q4   integer)")

sc.sql(
    "INSERT INTO quarterly_sales VALUES\
    (2015, 82000, 83000, 78000, 83000)\
  , (2016, 85000, 85000, 80000, 81000)\
  , (2017, 92000, 81000, NULL , NULL )")

sc.sql("select * from quarterly_sales").show()

+----+-----+-----+-----+-----+
|year|   q1|   q2|   q3|   q4|
+----+-----+-----+-----+-----+
|2015|82000|83000|78000|83000|
|2016|85000|85000|80000|81000|
|2017|92000|81000| null| null|
+----+-----+-----+-----+-----+

DataFrame[]