In [1]:
import findspark
findspark.init()

In [2]:
from pyspark import SparkContext
sc = SparkContext("local", "first app")

In [3]:
text_file = sc.textFile("OneSentence.txt")
counts = text_file.flatMap(lambda line: line.split(" ")) \
             .map(lambda word: (word, 1)) \
             .reduceByKey(lambda a, b: a + b)

In [4]:
output = counts.collect()
for (word, count) in output:
    print("%s: %i" % (word, count))

Ah: 1
ah: 27
눈: 1
감아도: 1
느껴지는: 1
향기: 1
oh: 3
은은해서: 1
빠져들어: 1
저: 3
멀리: 1
사라진: 1
그: 1
빛을: 1
따라: 1
난: 2
너에게: 1
더: 9
다가가: 2
날: 3
보는: 1
네: 8
눈빛과: 1
비추는: 1
빛깔이: 1
모든: 4
걸: 1
멈추게: 1
해: 2
너를: 4
빛나게: 1
어느: 1
순간: 1
내게로: 1
조용히: 1
스며들어: 1
같은: 1
꿈을: 1
꾸게: 1
될: 1
테니까: 2
넓은: 1
세상을: 1
눈앞에: 1
그려봐: 1
진심을: 1
느껴봐: 1
안에: 2
숨겨둔: 1
널: 10
세상에: 2
펼쳐봐: 1
있는: 2
그대로: 4
지금: 2
느낌: 2
내게: 3
보여줘: 2
넌: 10
나의: 10
비올레타: 9
나에게: 3
다: 6
게: 3
너: 3
나를: 1
믿어줄래: 1
(줄래): 1
어서: 1
맘을: 2
열어줄래: 1
eh: 1
신비로운: 1
빛깔을: 1
담아: 1
비춰줄: 1
내: 2
모습을: 1
닮아: 1
누구보다: 1
빛이: 2
수: 2
있게: 2
너와: 1
나: 1
함께: 1
할: 1
아름답게: 1
펼쳐진: 1
향기로: 1
채워진: 1
열어: 1
네게: 1
귀: 1
기울여: 1
비춰: 2
영원히: 1
물들여: 1
눈부시게: 1
빛날: 1
닮은: 1
하늘에: 3
숨겨왔던: 1
마음을: 1
기다렸던: 1
순간을: 1
늘: 1
바라왔었던: 1
담아서: 1
언제든지: 1
기다릴게: 1
항상: 1
곁에: 1
있으니까: 1
화려한: 1
조명보다: 1
향한: 1
빛으로: 1
오직: 1
위한: 1
나니까: 1
그려진: 1
너의: 1
미소가: 1
밝게: 1
나잖아: 1
아름다운: 1
맘의: 1
flower: 1
지켜줄게: 1
환히: 1
줄게: 1
세상: 1
빛: 1
my: 1
heart: 1

In [5]:
sc.stop()

[출처](https://blog.tanka.la/2018/09/02/run-your-first-spark-program-using-pyspark-and-jupyter-notebook/)

----

[출처](https://towardsdatascience.com/pyspark-and-sparksql-basics-6cb4bf967e53)

In [10]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.context import SparkContext
from pyspark.sql.functions import * 
from pyspark.sql.types import * 
from datetime import date, timedelta, datetime
import time

In [12]:
sc = SparkSession.builder.appName("PysparkExample")\
.config ("spark.sql.shuffle.partitions", "50")\
.config("spark.driver.maxResultSize","5g")\
.config ("spark.sql.execution.arrow.enabled", "true")\
.getOrCreate()

In [14]:
dataframe_txt = sc.read.text('OneSentence.txt')

In [16]:
dataframe_txt.show()

+----------------------------------+
|                             value|
+----------------------------------+
|                             Ah ah|
|        눈 감아도 느껴지는 향기 oh|
|                 은은해서 빠져들어|
|    저 멀리 사라진 그 빛을 따라 난|
|     너에게 더 다가가 다가가 ah ah|
|날 보는 네 눈빛과 날 비추는 빛깔이|
|   모든 걸 멈추게 해 너를 더 빛...|
|  어느 순간 내게로 조용히 스며들어|
|          같은 꿈을 꾸게 될 테니까|
|                    저 넓은 세상을|
| 네 눈앞에 그려봐 네 진심을 느껴봐|
|   네 안에 숨겨둔 널 세상에 펼쳐봐|
|  있는 그대로 지금 느낌 그대로 ...|
|                  넌 나의 비올레타|
|             나에게 다 ah ah ah ah|
|                  넌 나의 비올레타|
|            모든 게 다 ah ah ah ah|
|                  넌 나의 비올레타|
|     너 너 너 나를 믿어줄래 (줄래)|
|    어서 내게 더 더 더 네 맘을 ...|
+----------------------------------+
only showing top 20 rows

In [22]:
sc.sql("DROP TABLE IF EXISTS mst_users")

DataFrame[]

In [23]:
sc.sql(
"CREATE TABLE mst_users(\
    user_id         varchar(255)\
  , register_date   varchar(255)\
  , register_device integer\
)"
)

DataFrame[]

In [26]:
sc.sql("select * from mst_users").show()

+-------+-------------+---------------+
|user_id|register_date|register_device|
+-------+-------------+---------------+
+-------+-------------+---------------+

In [35]:
sc.sql("INSERT INTO mst_users\
VALUES\
    ('U001', '2016-08-26', 1)\
  , ('U002', '2016-08-26', 2)\
  , ('U003', '2016-08-27', 3)")

ParseException:
mismatched input ''U001'' expecting {'(', 'FROM', 'MAP', 'REDUCE', 'SELECT', 'TABLE', 'VALUES', 'WITH'}(line 1, pos 32)

== SQL ==
INSERT INTO mst_usersVALUES    ('U001', '2016-08-26', 1)  , ('U002', '2016-08-26', 2)  , ('U003', '2016-08-27', 3)
--------------------------------^^^